VITE_HOST=localhost
VITE_PORT=8443
VITE_PROTOCOL=https
VITE_USER=<demo-username>
VITE_PASS=<demo-password>
VITE_GUEST_USER=<optional-view-user>
VITE_GUEST_PASS=<optional-view-password>
VITE_NAMESPACE=6